.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.hero .interface .txt {
    max-width: 600px;
    text-align: center;
    font-style: italic;    
}