.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.hero p {
    margin: 20px 0;
    max-width: 800px;
    text-align: center;
    font-style: italic;
}

.hero .servicos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

