.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.hero p {
    margin: 20px 0;
}

.hero .servicos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.hero .servicos .elemento-servicos {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    background: #00aeff;

    width: 30%;
    min-width: 100px;
    height: 100px;
    padding: 15px;
    margin: 5px;

    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.267);

    position: relative;
}

.hero .servicos .elemento-servicos h3 {
    position: relative;
    z-index: 2;
    color: #fff;
    text-shadow: 2px 2px 40px rgba(0, 0, 0, 0.5);

    font-size: 26px;

}

.hero .servicos .elemento-servicos.questoes {
    background-image: url('../img/section-elementos-servicos/questoes.webp');
}

.hero .servicos .elemento-servicos.provas {
    background-image: url('../img/section-elementos-servicos/prova.jpg');
}

.hero .servicos .elemento-servicos.simulados {
    background-image: url('../img/section-elementos-servicos/simulado.webp');
}

.hero .servicos .elemento-servicos.correcoes {
    background-image: url('../img/section-elementos-servicos/correções.jpg');
}

.hero .servicos .elemento-servicos.relatorios {
    background-image: url('../img/section-elementos-servicos/relatorio.webp');
}

.hero .servicos .elemento-servicos.turmas {
    background-image: url('../img/section-elementos-servicos/turmas.jpg');
}

.hero .servicos .elemento-servicos.questoes,
.hero .servicos .elemento-servicos.provas,
.hero .servicos .elemento-servicos.simulados,
.hero .servicos .elemento-servicos.correcoes,
.hero .servicos .elemento-servicos.relatorios,
.hero .servicos .elemento-servicos.turmas {
    background-size: cover;
    background-position: center;
}

.hero .servicos .elemento-servicos.questoes::before {
    background-color: rgba(6, 128, 6, 0.8);
}

.hero .servicos .elemento-servicos.provas::before {
    background-color: rgba(228, 167, 0, 0.8);
}

.hero .servicos .elemento-servicos.simulados::before {
    background-color: rgba(76, 0, 255, 0.8);
}

.hero .servicos .elemento-servicos.correcoes::before {
    background-color: rgba(0, 162, 255, 0.8);
}

.hero .servicos .elemento-servicos.relatorios::before{
    background-color: rgba(161, 1, 1, 0.8);
}

.hero .servicos .elemento-servicos.turmas::before{
    background-color: rgba(0, 0, 0, 0.8);
}

.hero .servicos .elemento-servicos.questoes::before,
.hero .servicos .elemento-servicos.provas::before,
.hero .servicos .elemento-servicos.simulados::before,
.hero .servicos .elemento-servicos.correcoes::before,
.hero .servicos .elemento-servicos.relatorios::before,
.hero .servicos .elemento-servicos.turmas::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 15px;
    z-index: 1;
}

