@media screen and (max-width: 650px) {

    * {
        margin: 0;
        padding: 0;
    }
    
    :root {
        --color-write: #fff;
        --color-black: #000;
        --color-verde: #00AC4E;
        --color-azul: #007BFF;
        --color-azul-escuro: #005dc0;
        --color-background: #ececec;
    }
    
    /*************************************************
    **************************************************/

    .usuario .card-usuario .img-usuario img {
        width: 50px;
    }

    .usuario .card-usuario .txt-usuario h3 {
        font-size: 13px;
    }

    .usuario .card-usuario .txt-usuario p {
        font-size: 9px;
    }
    
}