* {
    margin: 0;
    padding: 0;
}

:root {
    --color-write: #fff;
    --color-black: #000;
    --color-verde: #00AC4E;
    --color-azul: #007BFF;
    --color-azul-escuro: #005dc0;
    --color-background: #ececec;
}
body {
    font-family: Arial, Helvetica, sans-serif;

    height: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;


    background-image: url(../img/backgrounds/fachada-seduc-edit-85opacidade.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/**********************************
***********************************

MAIN CONTAINER

***********************************
***********************************/

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100vw;
}

.main-container .img-container {
    text-align: center;
}

.main-container .img-container img {
    width: 300px;
}

.login-container {
    background: var(--color-write);

    padding: 20px;
    margin: 0 20px;

    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
}

.login-container .icon-utilizador {
    display: flex;
    justify-content: center;
}

.login-container .icon-utilizador img {
    width: 100px;
    margin: 15px 0;
}

h2 {
    text-align: center;
    margin-bottom: 10px;

    font-size: 18px;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    display: block;
    width: 94%;

    padding: 8px;
    margin: 5px 0 10px 0;

    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: var(--color-azul);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--color-azul-escuro)
}

a  {
    text-decoration: none;
}

a p {
    font-size: 14px;
    
    margin-top: 10px;
}

p#msg-erro {
    background-color: red;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 10px;
    border-radius: 5px;
}
