* {
    margin: 0;
    padding: 0;
}

:root {
    --color-write: #fff;
    --color-black: #000;
    --color-verde: #00AC4E;
    --color-background: #ececec;
    --color-button: #007BFF;
    --color-button-press: #005dc0;

}

body {
    font-family: Arial, Helvetica, sans-serif;

    height: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
}

.interface {
    max-width: 1280px;  
    margin: 0 auto;
    padding: 0 20px;
}


/**********************************
***********************************

HEADER

***********************************
***********************************/

.header {
    background-color: var(--color-button);
    color: #fff;

    padding: 20px 0;
}

/**********************************
***********************************

MAIN CONTAINER

***********************************
***********************************/

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url(../img/fachada-seduc-edit-85opacidade.png);
    background-repeat: no-repeat;
    background-size: cover;

    height: 80vh;
    width: 100vw;
}

.main-container .img-container {
    text-align: center;
}

.main-container .img-container img {
    width: 300px;
}

.login-container {
    background: var(--color-write);

    padding: 20px;
    margin: 0 20px;

    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 15px;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    display: block;
    width: 94%;

    padding: 8px;
    margin: 5px 0 10px 0;

    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: var(--color-button);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--color-button-press)
}

a  {
    text-decoration: none;
}

a p {
    font-size: 14px;
    
    margin-top: 10px;
}

p#msg-erro {
    background-color: red;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 10px;
    border-radius: 5px;
}


/**********************************
***********************************

FOOOTER

***********************************
***********************************/

.footer {
    background-color: var(--color-button);
    padding: 21px 0px;
}

.footer .interface{
    display: flex;
    justify-content: space-between;
}

.footer .apps {
    color: #fff;
}

.footer .apps p {
    margin-bottom: 10px;
    font-weight: 800;
}