.hero {
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.hero p {
    padding: 40px 0;
}

.hero .servicos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    margin-bottom: 50px;
}

.hero .servicos .elemento-servicos {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    background: #00aeff;

    flex: 2 2 calc(33.33% - 20px);

    min-width: 100px;
    height: 100px;
    padding: 15px;
    margin: 5px;

    border-radius: 15px;

    position: relative;
}

.hero .servicos .elemento-servicos h3 {
    position: relative;
    z-index: 2;
    color: #fff;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);

}

.hero .servicos .elemento-servicos.questoes {
    background-image: url('/img/img-elementos-serv/questoes.webp');
}

.hero .servicos .elemento-servicos.provas {
    background-image: url('/img/img-elementos-serv/prova.jpg');
}

.hero .servicos .elemento-servicos.simulados {
    background-image: url('/img/img-elementos-serv/simulado.webp');
}

.hero .servicos .elemento-servicos.correcoes {
    background-image: url('/img/img-elementos-serv/correções.jpg');
}

.hero .servicos .elemento-servicos.relatorios {
    background-image: url('/img/img-elementos-serv/relatorio.webp');
}

.hero .servicos .elemento-servicos.turmas-e-alunos {
    background-image: url('/img/img-elementos-serv/turmas.jpg');
}

.hero .servicos .elemento-servicos.questoes,
.hero .servicos .elemento-servicos.provas,
.hero .servicos .elemento-servicos.simulados,
.hero .servicos .elemento-servicos.correcoes,
.hero .servicos .elemento-servicos.relatorios,
.hero .servicos .elemento-servicos.turmas-e-alunos {
    background-size: cover;
    background-position: center;
}



.hero .servicos .elemento-servicos.questoes::before,
.hero .servicos .elemento-servicos.provas::before,
.hero .servicos .elemento-servicos.simulados::before,
.hero .servicos .elemento-servicos.correcoes::before,
.hero .servicos .elemento-servicos.relatorios::before,
.hero .servicos .elemento-servicos.turmas-e-alunos::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    z-index: 1;
}

